<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserViewFilter</filter-name>
        <filter-class>filters.UsersViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserViewFilter</filter-name>
        <url-pattern>/users.jsp</url-pattern>
    </filter-mapping>

</web-app>